<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/table-base.css" />
    <link rel="stylesheet" href="/styles/filters-base.css">
    <link rel="stylesheet" href="/styles/configuration.css" />
</head>

<script src="https://kit.fontawesome.com/f70dfefa83.js" crossorigin="anonymous"></script>

<script src="/scripts/modifyClientProfiles.js" defer></script>
<script src="/scripts/configuration-modal.js" defer></script>
<script src="/scripts/configuration-management.js" defer></script>

<body>
  <%- include('partials/header', {activeItem: "configuration" }) %>

    <!-- Div used for backdrop when the modal is open -->
    <div id="backdrop"></div>

    <main>
      <section id="configuration">
        <div class="filters__container">
          <form id="form__filter" action="">
            <div class="form__control">
              <label for="client-filter">Client</label>
              <input type="text" name="client-filter" id="client-filter" />
            </div>
          </form>
        </div>
      </section>

      <div class="table__container">
        <table id="table__configuration">
          <thead>
            <tr>
              <th>Client</th>
              <th>Container Warning</th>
              <th>Container Max</th>
              <th>Bulk Warning</th>
              <th>Bulk Max</th>
              <th>Cart Warning</th>
              <th>Cart Max</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for (const profile of clientProfiles) { %>
              <tr>
                <td>
                  <%= profile.client %>
                </td>
                <td>
                  <%= profile.config.containerWarning %>
                </td>
                <td>
                  <%= profile.config.containerMax %>
                </td>
                <td>
                  <%= profile.config.bulkWarning %>
                </td>
                <td>
                  <%= profile.config.bulkMax %>
                </td>
                <td>
                  <%= profile.config.cartWarning %>
                </td>
                <td>
                  <%= profile.config.cartMax %>
                </td>
                <td>
                  <div class="btn__edit-delete">
                    <button class="btn__edit-client-profile" data-profileid="<%= profile._id %>">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn__delete-client-profile" data-profileid="<%= profile._id %>">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>

      <!-- Button for adding a configuration profile. Will open up the form__modal -->
      <button id="button__create-config">
        <i class="fas fa-plus-circle"></i>
      </button>

      <!-- MODAL -->
      <aside id="form__modal">
        <form id="add__profile" action="/configuration/api/profiles" method="POST">
          <div class="form__controls">
            <label for="client">Client</label>
            <input type="text" name="client" id="client" />
          </div>
          <div class="form__controls">
            <label for="containerWarning">Container Warning</label>
            <input type="text" name="containerWarning" id="containerWarning" />
          </div>
          <div class="form__controls">
            <label for="containerMax">Container Max</label>
            <input type="text" name="containerMax" id="containerMax" />
          </div>
          <div class="form__controls">
            <label for="bulkWarning">Bulk Warning</label>
            <input type="text" name="bulkWarning" id="bulkWarning" />
          </div>
          <div class="form__controls">
            <label for="bulkMax">Bulk Max</label>
            <input type="text" name="bulkMax" id="bulkMax" />
          </div>
          <div class="form__controls">
            <label for="cartWarning">Cart Warning</label>
            <input type="text" name="cartWarning" id="cartWarning" />
          </div>
          <div class="form__controls">
            <label for="cartMax">Cart Max</label>
            <input type="text" name="cartMax" id="cartMax" />
          </div>
          <div class="button__container">
            <button class="btn btn-primary">Add profile</button>
            <button type="reset" id="btn-cancel" class="btn btn-secondary">
              Cancel
            </button>
          </div>
        </form>
      </aside>
    </main>
</body>

</html>