<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/filters-base.css">
    <link rel="stylesheet" href="/styles/table-base.css" />
    <link rel="stylesheet" href="/styles/movements.css">

    <script src="https://kit.fontawesome.com/f70dfefa83.js" crossorigin="anonymous"></script>
    <script src="/scripts/movements-modal.js" defer></script>
    <script src="/scripts/movements-management.js" defer></script>
</head>

<body>
  <%- include('partials/header', {activeItem: "movements" }) %>

    <!-- Div used for backdrop when the modal is open -->
    <div id="backdrop"></div>

    <main>
      <section id="movements">
        <div class="filters__container">
          <form action="">
            <div class="form__filters">
              <label for="productId">Product ID</label>
              <select name="productId" id="productId">
                <option value=""></option>
                <option value="001">001</option>
                <option value="002">002</option>
                <option value="003">003</option>
              </select>
            </div>
            <div class="form__filters">
              <label for="client">Client</label>
              <select name="client" id="client">
                <option value=""></option>
                <% for (const profile of profiles) { %>
                  <option value="<%= profile.client %>">
                    <%= profile.client %>
                  </option>
                  <% } %>
              </select>
            </div>

            <div class="form__filters filter__dateStart">
              <label for="dateStart">Date Start</label>
              <input type="date" name="dateStart" id="dateStart" />
            </div>
            <div class="form__filters filter__dateEnd">
              <label for="dateEnd">Date End</label>
              <input type="date" name="dateEnd" id="dateEnd" />
            </div>

            <div class="form__filters">
              <label for="flow">Flow</label>
              <select name="flow" id="flow">
                <option value=""></option>
                <option value="Inbound">Inbound</option>
                <option value="Outbound">Outbound</option>
              </select>
            </div>
            <div class="form__filters">
              <label for="status">Status</label>
              <select name="status" id="status">
                <option value=""></option>
                <option value="Exceeded">Exceeded</option>
                <option value="Ok">OK</option>
                <option value="Returned">Returned</option>
                <option value="Settled">Settled</option>
                <option value="Warning">Warning</option>
              </select>
            </div>
          </form>
        </div>
        <div class="table__container">
          <!-- <div class="table">
            <span class="table__header">Date</span>
            <span class="table__header">Product ID</span>
            <span class="table__header">Client</span>
            <span class="table__header">Flow</span>
            <span class="table__header">Status</span>
            <% let counter=0; for (const movement of movements) { %>
              <span class=<%=counter % 2===0 && "dark" %>
                ><%= movement.date.toLocaleDateString('en-US', { day: '2-digit' , month: '2-digit' , year: 'numeric' })
                  %></span>
              <span class=<%=counter % 2===0 && "dark" %>><%= movement.productId %></span>
              <span class=<%=counter % 2===0 && "dark" %>><%= movement.client %></span>
              <span class=<%=counter % 2===0 && "dark" %>><%= movement.flow %></span>
              <span class=<%=counter % 2===0 && "dark" %>></span>
              <% counter++ %>
                <% }; %>
          </div> -->


          <table id="table__movements">
            <thead>
              <tr>
                <th>Date</th>
                <th>Product ID</th>
                <th>Client</th>
                <th>Flow</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% for (const movement of movements) { %>
                <tr>
                  <td>
                    <%= movement.date.toLocaleDateString('en-US', { day: '2-digit' , month: '2-digit' , year: 'numeric'
                      }) %>
                  </td>
                  <td>
                    <%= movement.productId %>
                  </td>
                  <td>
                    <%= movement.client %>
                  </td>
                  <td>
                    <%= movement.flow %>
                  </td>
                  <td>
                    <%= movement.status %>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </section>

      <!-- Button for adding post. Will open up the form__modal -->
      <button id="button__create-movement"><i class="fas fa-plus-circle"></i></button>

      <!-- MODAL -->
      <aside id="form__modal">
        <form id="add__movement" action="/movements" method="POST">
          <div class="form__controls">
            <label for="productId">Product ID</label>
            <input type="text" name="productId" id="productId" />
          </div>
          <div class="form__controls">
            <label for="client">Client</label>
            <input type="text" name="client" id="client" />
          </div>
          <div class="form__controls">
            <label for="flow">Flow</label>
            <input type="text" name="flow" id="flow" />
          </div>
          <div class="button__container">
            <button class="btn btn-primary">Add movement</button>
            <button type="reset" id="btn-cancel" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </aside>

    </main>
</body>

</html>